APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=tripbuilder
DB_USERNAME=tripbuilder
DB_PASSWORD=jqbdui1bdb

CACHE_DRIVER=redis
QUEUE_DRIVER=sync
